* {
    font-family: "Montserrat", sans-serif !important;
    box-sizing: border-box;
}


:root {
    --colorRosa: #ff02dd;
    --colorRosaOscuro: #f70071;
    --ColorRosaIntermedioMenos: #e8306e;
    --colorRosaIntermedio: #e22e6b;
    --ColorRosaMasOscuro: #e31f38;
    --colorRosaButton: #e9287b;
    --colorNegro: #000000;
    --colorBlanco: #ffffff;
}


a {
    color: var(--colorRosa);
    /* Color de los links */
    text-decoration: underline;
    /* No quiero quitar subrayado de los links */
}

.color-rosa {
    color: var(--colorRosaOscuro) !important;
}

ul {
    list-style: none;
    /* Quitar los puntos */
    display: flex;
    /* Hacer la lista horizontal */
    flex-direction: column;
    gap: 1rem;
    /* Espacio entre los elementos */
    margin: 0;
    padding: 0;
    text-align: right;
    justify-content: flex-end;
    /* Alinear a la derecha */
}


/*Estilos Header */
.index-header {
    background-image: url(../img/wallpapers-maquillayuñas.webp);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    object-fit: cover;
    max-height: 40rem;
}


.logo-container {
    display: flex;
    justify-content: center;
    /* centra horizontal */
    align-items: center;
    /* centra vertical (opcional) */
    height: 180px;
    /* opcional */
}


.index-h1 {
    font-size: 1rem;
    font-weight: 700;
    color: var(--colorRosaOscuro);
    text-align: center;
}


.index-h3 {
    font-size: 3rem;
    font-weight: 600;
    color: #ff7477;
    display: flex;
}


.index-parrafo {
    color: #ff7477;
    font-size: 1.6rem;
}


.header-parrafo {
    color: #ff1b82;
    font-size: 1rem;
}


.index-header-btn {
    background-color: VAR(--colorRosaButton);
    color: var(--colorBlanco);
    font-weight: 500;
    font-size: 1rem;
    padding: 1rem;
    text-transform: uppercase;
    border-radius: 0.5rem;
}


.contenedor-flex {
    display: flex;
    align-items: center;
    gap: 5rem;
    justify-content: flex-end;
    /* Alinear a la derecha */
}


.contenedor-inferior-header {
    width: 50%;
}


.header-contenedor-inferior-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}




/*Estilos Main */


.main-h3 {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--ColorRosaMasOscuro);
    text-align: center;
}


.producto-card {
    width: 200px;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
}


.main-h4 {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--colorRosaIntermedio);
    margin-bottom: 0.5rem;
    margin-top: 0rem;
    padding: 0.5rem;


}


.main-parrafo {
    width: 200px;
}


.main-parrafo-promos {
    width: 200px;
}


.main-parrafo,
.main-parrafodesc,
.main-precio,
.main-precio-oferta,
.main-parrafo-promos {
    color: var(--ColorRosaIntermedioMenos);
}


.main-button {
    color: var(--colorBlanco);
    background-color: var(--colorRosaButton);
    font-weight: 500;
    font-size: 1rem;
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    text-transform: uppercase;
}


.main-precio-oferta {
    text-decoration: line-through;
    text-decoration-thickness: 2px;
}


.img-labialmate,
.img-esmaltedeuñas {
    display: flex;
    justify-content: center;
    width: 10rem;
    height: 10rem;
}


.contenedor-flex-productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
}

.img-promoespecial {
    width: 10rem;
    height: 10rem;
}



/*Estilos Footer */
.index-footer {
    background-color: var(--colorRosaOscuro);
}


.index-footer a {
    color: var(--colorBlanco);
    margin-right: 1rem;
    text-decoration: none;
}


.index-footer img {
    width: 5 rem;
    height: 5 rem;
    object-fit: cover;
}


.index-footer p {
    font-weight: 500;
    padding-top: 1rem;
    text-align: center;
}


.footer-h5 {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--colorBlanco);
    text-align: center;
    object-fit: cover;
}


.footer-flex-contenedor {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

@media only screen and (min-width: 600px) {
    ul {
        display: flex;
        flex-direction: row;
    }

    .index-h1 {
        font-size: 2rem;
    }

    .contenedor-flex {
        flex-direction: column;
    }

    .header-contenedor-inferior-flex {
        flex-direction: row;
    }

}

@media only screen and (min-width: 900px) {
    .index-h1 {
        font-size: 4rem;
    }

    .contenedor-flex {
        flex-direction: row;
        gap: 3rem;
        margin-left: 3rem;
    }

    .contenedor-inferior-header {
        max-width: 30rem;
    }

    .header-contenedor-inferior-flex {
        flex-direction: row;
    }
}