$colorRosa: #ff02dd;
    $colorRosaOscuro: #f70071;
    $ColorRosaIntermedioMenos: #e8306e;
    $colorRosaIntermedio: #e22e6b;
    $ColorRosaMasOscuro: #e31f38;
    $colorRosaButton: #e9287b;
    $colorNegro: #000000;
    $colorBlanco: #ffffff;