/*Estilos Footer */
.index-footer {
    background-color: $colorRosaOscuro;
}


.index-footer a {
    color: $colorBlanco;
    margin-right: 1rem;
    text-decoration: none;
}


.index-footer img {
    width: 5 rem;
    height: 5 rem;
    object-fit: cover;
}


.index-footer p {
    font-weight: 500;
    padding-top: 1rem;
    text-align: center;
}


.footer-h5 {
    @include tipografia(1.3rem, 600);
    color: $colorBlanco;
    text-align: center;
    object-fit: cover;
}


.footer-flex-contenedor {
    display: flex;
    justify-content: center;
    gap: 3rem;
}